<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class Based Views</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'first_app:school-list'%}" class="navbar-brand">Schools</a>
            </li>
            <li>
                <a href="{% url 'admin:index' %}" class="navbar-link">Admin</a>
            </li>
            <li>
                <a href="#" class="navbar-link"></a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
</body>

</html>