#top{
  border: 4px solid blue;
  width: 25%;
  text-align: center;
  /*Top, Right, Bottom, Left --> Clockwise*/
  margin: 10px 20px 100px 400px;
}

#bottom{
  border: 4px solid red;
  width: 50%;
  padding: 200px;
  text-align: center;
}
