<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First App</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
    <h1>Hello! This is index.html</h1>
    {{ insert_me }}

    <div>
        <img src="{% static "images/logo.jpg" %}" alt="The logo didn't show">
    </div>
</body>
</html>